body {
    margin: 0;
}

.red-bottom-border {
    border-bottom: red solid 5px;
}

.mainmenu ul {
position: fixed;
top:0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
background-color: #333;
}

.mainmenu li {
float: left;
}

.nav-element {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

header {
    padding-top: 16px;
}

@media screen and (max-width: 600px) {
    ul li {float: none;}
    header {padding-top: 90px;}
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.dropdown:hover .dropdown-ctn {
    display: block;
}

.dropdown-ctn a {
    display: block;
    color: black;
    border: black solid 1px;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown-ctn a:hover {
    background-color: #999;
}

.dropdown-ctn {
display: none;
color: black;
background-color: white;
position: absolute;
width: 100%;
z-index: 1;
}
