body {
    margin: 0;
}

.red-border {
    border-bottom: red solid 5px;
}

ul {
position: fixed;
top:0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

header {
    padding-top: 16px;
}

@media screen and (max-width: 600px) {
    ul li {float: none;}
    header {padding-top: 90px;}
  }

.dropdown {
    position: relative;
}

.drowdown-ctn a, .dropdown-btn {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-ctn {
    display: block;
}

.dropdown-ctn a {
    color: black;
    border: black solid 1px;
}

.dropdown-ctn a:hover {
    background-color: #999;
}

.dropdown-ctn {
display: none;
color: black;
background-color: white;
position: absolute;
min-width: 80px;
z-index: 1;
/* padding: 14px 16px; */
/* top: 45px;
left: 0;   */
}